<div class="backoffice-container">
  <h1>Backoffice</h1>
  <ul>
    <li>
      <a routerLink="/backoffice/job-panel">Jobs</a>
    </li>
    <li>
      <a routerLink="/backoffice/permission-panel">Permissions</a>
    </li>
    <li>
      <a routerLink="/backoffice/role-panel">Roles</a>
    </li>
    <li>
      <a routerLink="/backoffice/role-permission-panel">Role-Permissions</a>
    </li>
    <li>
      <a routerLink="/backoffice/user-authentication-panel">User Authentications</a>
    </li>
    <li>
      <a routerLink="/backoffice/user-panel">Users</a>
    </li>
    <li>
      <a routerLink="/backoffice/user-role-panel">User-Roles</a>
    </li>
  </ul>
</div>